@model IEnumerable<AppBarberShop.Models.Barber>

@{
    ViewData["Title"] = "Index";
}

<h1>Barbers</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BarberName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BarberName)
            </td>
            <td>
                <a asp-action="Detail" asp-route-id="@item.BarberId">Details</a> | 
            </td>
        </tr>
}
    </tbody>
</table>
