@{
    ViewBag.Title = "About";
}
<h2><span style="color: #772953">Barber Shop</span></h2>
<h3>@ViewBag.Message</h3>

<p>This Application was created as part of Enterprise Application Design module of the Higher Diploma in Compuer Science, Technological University of Dublin, Tallaght
Karl Mulcahy<span class="small"> (X00170637)</span> and Nemanja Neducic <span class="small"> (X00170645)</span>.</p>
<p>Barber Shop allows user to check deatils of Babars, check the availability of the barbers and to create, update and delete a booking.</p>
<p>Further documentation on this project can be found at this <a href = "https://github.com/Nemanjavu/AppBarberShop">GitHub Link</a>.</p>
