@{
    ViewData["Title"] = "Contact";
}
<h1>@ViewData["Title"]</h1>

<p>You can find Karl Mulcahy here <a href = "https://github.com/Flood-Locke"> GitHub Link</a> </p>
<p>You can find Nemanja Neducic here <a href = "https://github.com/Nemanjavu"> GitHub Link </a> </p>

