@{
    ViewData["Title"] = "Contact";
}
<h1>@ViewData["Title"]</h1>

<p>You can find Karl Mulcahy here <a href = "https://github.com/Flood-Locke"> GitHub Link</a></p>
<p>YOu can find nemanja here <a href = "https://github.com/Nemanjavu/AppBarberShop">GitHub Link</a></p>

